@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayblack-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayblack-webfont.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayblackitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayblackitalic-webfont.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaybold-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaybold-webfont.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaybolditalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaybolditalic-webfont.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaymediu-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaymediu-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaymediumitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaymediumitalic-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayroman-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayroman-webfont.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayromanitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayromanitalic-webfont.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaylight-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaylight-webfont.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaylightitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaylightitalic-webfont.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaythin-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaythin-webfont.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaythinitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplaythinitalic-webfont.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayxthin-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayxthin-webfont.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayxthinitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayxthinitalic-webfont.woff")
      format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayxxthin-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayxxthin-webfont.woff")
      format("woff");
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayxxthinitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/NeueHaasGrotesk/neuehaasdisplayxxthinitalic-webfont.woff")
      format("woff");
  font-weight: 50;
  font-style: italic;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on October 9, 2022 */

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-bold-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-bold-webfont.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-bolditalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-bolditalic-webfont.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-demibold-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-demibold-webfont.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-demibolditalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-demibolditalic-webfont.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-extrabold-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-extrabold-webfont.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-extrabolditalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-extrabolditalic-webfont.woff")
      format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-heavy-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-heavy-webfont.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-heavyitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-heavyitalic-webfont.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-light-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-light-webfont.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-lightitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-lightitalic-webfont.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-medium-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-medium-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-mediumitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-mediumitalic-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-regular-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-regular-webfont.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-regularitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-regularitalic-webfont.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-thin-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-thin-webfont.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "RoxboroughCF";
  src: url("@/assets/fonts/RoxboroughCF/roxboroughcf-thinitalic-webfont.woff2")
      format("woff2"),
    url("@/assets/fonts/RoxboroughCF/roxboroughcf-thinitalic-webfont.woff")
      format("woff");
  font-weight: 100;
  font-style: italic;
}
